# any notes files
notes.md

# all "private" directories
private/

# all "keys" directories
keys/

# all .env files
**/.env

# Ignore from week 1:

# volume mounts from week 1 local docker setup
/week1/data_pgadmin/
/week1/ny_taxi_postgres_data/

# the CSV used in week 1 setup
/week1/yellow_tripdata_2021-01.csv

# terraform states and lock files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/


# Ignore from weeks 2/3
*/mage-zoomcamp/README.md
requirements.txt
service_acct_creds.json
**/mage_data/


# Ignore from week 4
# terraform and keys - ignored from week 1
# mage - not set up yet, ignored from week 2/3
web_to_gcs.py
**/__pycache__/
